<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="./css/style.css">
<script src="./js/test.js"></script>
</head>
<body>
    {{>header}}
    <img src='./img/test.ng'>
    {{>footer}}
</body>
</html>