<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="main-content">
        {{>header}}
        {{>footer}}
        <form>
            <input type="text" placeholder="location">
            <button>Search</button>
        </form>
        <p id="messageOne"></p>
        <p id="messageTwo"></p>
    </div>
<script src="./js/test.js"></script>

</body>
</html>